<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission android:name="com.xiaomi.mi_connect_service.permission.RECEIVE_ENDPOINT" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <queries>
        <package android:name="com.xiaomi.mi_connect_service" />
        <package android:name="com.milink.service" />
        <package android:name="com.xiaomi.mirror" />
        <package android:name="com.android.fileexplorer" />
        <package android:name="com.miui.gallery" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.LaunchScreen.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.XiaomiNfcReaderActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.HuaweiShareNfcActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="consumer.huawei.com" />
                <data android:pathPrefix="/en/support/huaweisharewelcome/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ScreenMirrorActionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <service
            android:name=".service.ScreenMirrorTileService"
            android:exported="true"
            android:icon="@drawable/ic_screen_share_24"
            android:label="@string/tiles_screen_mirror_service"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.NfcNotificationListenerService"
            android:description="@string/nfc_notification_service_description"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            android:label="@string/nfc_notification_service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="alerting" />
            <meta-data
                android:name="android.service.notification.disabled_filter_types"
                android:value="conversations|ongoing|silent" />
        </service>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>